button {
  box-shadow: 6px 2px 15px rgb(202, 200, 200);
}
.calculator {
  box-shadow: 6px 2px 15px rgb(148, 148, 148);
  height: 460px;
  border-style: solid;
  border-radius: 6px;
  border-style: none;
  width: 360px;
  margin-top: 15px;
  padding-left: 25px;
  background-color: rgb(218, 213, 213);
}
.display {
  width: 95%;
  height: 65px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.cal-numbers {
  text-align: center;
}
.number {
  width: 55px;
  height: 55px;
  font-size: 22px;
  border-style: none;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 13px 10px 10px rgb(156, 142, 142);
}

.number:hover {
  box-shadow: inset -1px -1px 20px #403b3b;
}
.clear:hover {
  box-shadow: inset -1px -1px 20px #403b3b;
}
.button-numbers {
  margin-top: 20px;
}
.symbol-col {
  margin-top: 20px;
}
.clear {
  width: 85px;
  margin: 5px;
  border-style: none;
  height: 55px;
  box-shadow: 13px 10px 10px rgb(156, 142, 142);
}
